<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Monsters and Heroes</title>
    <meta charset='UTF-8'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='client.js'></script>
</head>
<body>
    <h1>Home</h1>
</body>
</html>